$toggler-bg: $primary;



header {
    .navbar-brand {
        max-width: 100px;
    } //logo
    .navbar-toggler {
        border: none;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $toggler-bg;
            margin-bottom: 5px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    } //navbar-toggler    
    
    .navbar-nav {
        background-color: #FFF;
        li {
            @media(min-width: 768px){
                margin-left: 30px;
            }
            @media(min-width: 992px){
                margin-left: 51px;
            }
            a {
                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 1px;
                text-align: center;
                font-weight: 400;
                padding: 10px;
            }
        } //li se zavrsava ovde
    } //navbar-nav
    
    
}//header

