$toggler-bg: $primary;
$current-link-color: $primary;



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
    .navbar-brand, .custom-logo-link {
        max-width: 88px;
        max-height: 28px;
        display: block;
        img {
           max-height: 28px; 
        }
    } //logo
    .navbar-toggler {
        border: none;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: $toggler-bg;
            margin-bottom: 5px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    } //navbar-toggler    
    
    .navbar-nav {
        background-color: #FFF;
        li.current-menu-item {
            a {
                color: $current-link-color;
            }
        }
        li {
            @media(min-width: 768px){
                margin-left: 30px;
            }
            @media(min-width: 992px){
                margin-left: 51px;
            }
            a {
                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 1px;
                text-align: center;
                font-weight: 400;
                padding: 10px;
            }
        } //li se zavrsava ovde
    } //navbar-nav
    
    
}//header

